/* .bmi_cal_container {
    padding: 4rem;
    background-color: #F3F4F5;
}

.bmi_cal_container h2 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}

h3,
p {
    text-align: center;
}

#bmi_form {
    border: 3px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#bmi_form input {
    height: 1.5rem;
}

#bmi_form h4 {
    margin-top: .5rem;
    font-size: 1.2rem;
}

#bmi_form button {
    margin: 2rem auto 0 auto;
    width: 20%;
    height: 2rem;
}

#chart_container {
    display: flex;
    width: 100%;
}

.chart_box {
    width: 100%;
    position: relative;
}

.chart_box img {
    width: 100%;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
} */


.bmi_cal_container {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


#bmi_form {
    border: 1px solid gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5rem;
    margin: 2rem;
}

#bmi_form h4 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #bmi_form {
        width: 50%;
        margin: 2rem auto;
        gap: 1rem;
    }

    #form_btn {
        width: 5rem;
        height: 2rem;
        margin: .5rem auto;
    }
}