.bmi_cal_container {
    padding: 4rem;
    background-color: #D6E0E9;
}

h2 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}

p {
    text-align: center;
}

#bmi_form {
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 50%;
}