/* .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F5;
    color: #56575D;
    gap: 30%;
    padding: 4rem;
    position: relative;
}

.landing h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.landing h2 {
    width: 65%;
    font-weight: bolder;
    font-size: 3.5rem;
    z-index: 1;
    text-align: left;
}

#landing_img_container {
    position: absolute;
    z-index: 0;
    right: 8%;
    top: 10%;
    width: 40%;
    transform: rotate(11deg);
} */

/* #landing_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  */



.landing_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: #F3F4F5;
}

.landing_container .landing_title {
    margin: 1rem 2rem;
}

#landing_img {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .landing_container {
        flex-direction: row;
        height: 100vh;
        padding: 2rem;
        align-items: center;
        position: relative;
    }

    .landing_title h1 {
        position: absolute;
        top: 2rem
    }

    .landing_title p {
        width: 70%;
        font-size: 2rem;
        text-align: left;
        position: relative;
        z-index: 3;
    }

    #landing_img_container {
        width: 40%;
        transform: rotate(11deg);
        position: absolute;
        right: 2rem;
        z-index: 0;
    }

    #landing_img {
        width: 100%;
        object-fit: cover;
    }

}

@media only screen and (min-width: 1024px) {
    .landing_title h1 {
        font-size: clamp(2rem, 3vw, 4rem);
    }

    .landing_title p {
        font-size: clamp(2rem, 7vw, 5rem);
    }

    #landing_img_container {
        width: 45%;
    }
}